<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %} Control Horario {% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/open-iconic-bootstrap.css" />
    <link rel="stylesheet" href="/css/offcanvas.css" />
    {% endblock %}
  </head>
  {% block body %} {% block menu %} {% include 'includes/_menu_app.html.twig' %}
  <style type="text/css">
    body {
      padding-top: 100px;
    }
    .negativo {
      color: red;
    }
  </style>
  {% endblock %}
  <div role="main" class="container">
    {% block contenedor_principal %} {% endblock %}
  </div>
  {% block javascript %}
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/offcanvas.js"></script>
  {% endblock %} {% endblock %}
</html>
